<img src="./images/devtitle.png" class="devtitle m-6">

<div class="block"></div>

<section class="developers">
    <div class="columns m-6">
        <div class="column is-one-third devcard ">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="./images/devRICK.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Ricardo Torres</p>
                            <p class="subtitle is-6">@RToCastro</p>
                        </div>
                    </div>

                    <div class="content">
                        Front End Development/Graphics/CSS <a>@rtocastro</a>.
                        <a href="#">#css #HTML #Bulma #Cats</a> <a href="#">#PizzaIsMyLife</a>
                        <br>
                    </div>
                </div>
            </div>
            <a href="https://github.com/rtocastro">
                <button class="button m-4 is-large" id="gitbutton">
                    <span>GitHub</span>
                </button></a>
        </div>


        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="./images/viggy.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Viggy Sambandam</p>
                            <p class="subtitle is-6">@Vigneshwarie</p>
                        </div>
                    </div>

                    <div class="content">
                        Back-End Development and infrastructure/MVC <a>@Vigneshwarie</a>.
                        <a href="#">#Javascript #Node #Express</a> <a href="#">#CoffeeIsLife</a>
                        <br>
                    </div>
                </div>
            </div>
            <a href="https://github.com/Vigneshwarie">
                <button class="button m-4 is-large" id="gitbutton">
                    <span>GitHub</span>
                </button></a>
        </div>

     <div class="column is-one-third devcard ">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="./images/devFRANK.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Francisco Contreras</p>
                            <p class="subtitle is-6">@Frankieee342</p>
                        </div>
                    </div>

                    <div class="content">
                        Back End Development/Javascript <a>@frankieee324</a>.
                        <a href="#">#Javascript #Dogs</a> <a href="#">#DogsAreAwesome</a>
                        <br>
                    </div>
                </div>
            </div>
            <a href="https://github.com/frankieee324">
                <button class="button m-4 is-large" id="gitbutton">
                    <span>GitHub</span>
                </button></a>
        </div>
    </div>

    <script>
        // JavaScript to hide the footer
        document.addEventListener("DOMContentLoaded", function () {
            var footer = document.getElementById("site-footer");
            footer.style.display = "none";
        });
    </script>