<!--create ID button -->
<section class="hero is-primary">
    <div class="hero-body is-horizontal-center">
        <p class="title">
            <a href="/profile"><img src="./images/mmcreateprofbutton.png" class="m-6" id="createidbutton"></a>

            <a href="/scheduler"><img src="./images/mmfeedschedbutton.png" class="m-6" id="feedschedulebutton"></a>
        </p>
        <p class="subtitle">
        </p>
    </div>
</section>

<div class="block"> <img src="./images/mypetslist.png"> </div>

<section class="tablebackground">
    <table class="table  m-6 tablebackground tableheadtext">
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Pet Type</th>
                <th>Female/Male</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="tablebody tablebodytext tabletextalign">
            {{#each profileData as |pet| }}
            <tr>
                <td>{{{pet.pet_name}}}</td>
                <td>{{{pet.pet_type}}}</td>
                <td>{{{pet.pet_sex}}}</td>
                <td>{{{pet.pet_notes}}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>