 <!--HERO IMAGE FOR HEADER-->
    <section class="hero is-primary is-horizontal-center">
        <div class="hero-body">
            <p class="title is-horizontal-center">
                <img src="./images/mmtext1.png" class="is-horizontal-center">
            </p>
            <p class="subtitle">
            </p>
        </div>
    </section>

 <section class="container petform is-primary is-fluid m-5">
        <div class="field">
            <label class="label">Pet Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>

        <div class="field">
            <label class="label">Pet Type</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>Cat</option>
                        <option>Dog</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Pet Sex</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Notes</label>
            <div class="control">
                <textarea class="textarea" placeholder="Input notes here"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger">Save</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
    </section>
