<section class="userbox pets">
    <div class="tile is-parent">
        <article class=" is-child notification is-primary m-2">
            <p class="title">Hey,</p>
            <p class="subtitle">{{sessionUserName}}</p>
        </article>

        <div class="tile is-vertical is-10 m-1">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Pet Name</p>
                    <p class="subtitle">{{petData.pet_name}}</p>
                </article>
                <article class="tile is-child notification is-warning ">
                    <p class="title">Notes</p>
                    <p class="subtitle">{{petData.pet_notes}}</p>
                </article>
            </div>
        </div>
    </div>


    <!--FOR FUTURE DEVELOPMENT (UPLOAD UR PIC)-->
    <!-- <div class="file">
            <label class="file-label">
                <input class="file-input" type="file" name="Username">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Upload pic
                    </span>
                </span>
            </label>
        </div> -->
</section>

<div class="hero is-horizontal-center is-fluid">
    <div class="notification is-primary">
        <img src="./images/feedingschedule.png" alt="Feeding Schedule">
    </div>
</div>

<div class="block"></div>
<h2><img src="./images/bfast.png" alt="Breakfast"></h2>
<!--Breakfast box-->

<div class="box">
    <section class="breakfast">
        <div class="control">
            <label class="radio">
                <input type="radio" name="breakfastfoodtype" value="Wet Food">
                Wet Food
            </label>
            <label class="radio">
                <input type="radio" name="breakfastfoodtype" value="Dry Food">
                Dry Food
            </label>
            <label class="radio">
                <input type="radio" name="breakfastfoodtype" value="Both">
                Both
            </label>
        </div>
        <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
        <div class="block"></div>
    </section>
</div>

<div class="block"></div>
<h2><img src="./images/lunch.png" alt="Lunch"></h2>
<!--Lunch box-->
<div class="box">
    <section class="lunch">
        <div class="control">
            <label class="radio">
                <input type="radio" name="lunchfoodtype" value="Wet Food">
                Wet Food
            </label>
            <label class="radio">
                <input type="radio" name="lunchfoodtype" value="Dry Food">
                Dry Food
            </label>
            <label class="radio">
                <input type="radio" name="lunchfoodtype" value="Both">
                Both
            </label>
        </div>
        <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
        <div class="block"></div>

    </section>
</div>

<div class="block"></div>
<h2><img src="./images/dinner.png" alt="Dinner"></h2>
<!--Dinner box-->

<div class="box">
    <section class="dinner">
        <div class="control">
            <label class="radio">
                <input type="radio" name="dinnerfoodtype" value="Wet Food">
                Wet Food
            </label>
            <label class="radio">
                <input type="radio" name="dinnerfoodtype" value="Dry Food">
                Dry Food
            </label>
            <label class="radio">
                <input type="radio" name="dinnerfoodtype" value="Both">
                Both
            </label>
        </div>
        <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
        <div class="block"></div>
    </section>
</div>

<div class="block"></div>
<button class="button is-horizontal-center is-danger is-outlined m-6">
    <span><strong>CLEAR FORM / RESET</strong></span>
    <span class="icon is-small">
        <i class="fas fa-times"></i>
    </span>
</button>
