<strong>feeder schedule page</strong>


    <!-- <br>

    <div class="block"></div>
    <br> -->

    <section class="userbox pets">
        <div class="tile is-parent">
            <article class=" is-child notification is-primary m-2">
                <p class="title">Username</p>
                <p class="subtitle"></p>
                <figure class="image is-4by3">
                    <img src="./images/mmAvatar.png">
                </figure>
            </article>


            <div class="tile is-vertical is-8 m-2">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Pets</p>
                            <p class="subtitle">Pet names here</p>
                        </article>
                    </div>


                    <article class="tile is-child notification is-warning ">
                        <p class="title">Notes</p>
                        <p class="subtitle">Pet names here</p>
                    </article>
                </div>
            </div>



            <!--FOR FUTURE DEVELOPMENT (UPLOAD UR PIC)-->
            <!-- <div class="file">
            <label class="file-label">
                <input class="file-input" type="file" name="Username">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Upload pic
                    </span>
                </span>
            </label>
        </div> -->
    </section>

    <div class="hero is-horizontal-center is-fluid">
        <div class="notification is-primary">
            <img src="images/feedingschedule.png" alt="Feeding Schedule">
        </div>
    </div>

    <div class="block"></div>
    <h2><img src="images/bfast.png" alt="Breakfast"></h2>
    <!--Breakfast box-->

    <div class="box">
        <section class="breakfast">
            <button class="button is-primary is-rounded m-2">Wet Food</button>
            <button class="button is-success is-rounded m-2">Dry Food</button>
            <button class="button is-info is-rounded m-2">Both</button>
            <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
            <div class="block"></div>
            <div class="control">
                <textarea class="textarea" placeholder="Type of food/Time fed" disabled></textarea>
            </div>
        </section>
    </div>

    <div class="block"></div>
    <h2><img src="images/lunch.png" alt="Lunch"></h2>
    <!--Lunch box-->
    <div class="box">
        <section class="lunch">
            <button class="button is-primary is-rounded m-2">Wet Food</button>
            <button class="button is-success is-rounded m-2">Dry Food</button>
            <button class="button is-info is-rounded m-2">Both</button>
            <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
            <div class="block"></div>
            <div class="control">
                <textarea class="textarea" placeholder="Type of food/Time fed" disabled></textarea>
            </div>
        </section>
    </div>

    <div class="block"></div>
    <h2><img src="images/dinner.png" alt="Dinner"></h2>
    <!--Dinner box-->

    <div class="box">
        <section class="dinner">
            <button class="button is-primary is-rounded m-2">Wet Food</button>
            <button class="button is-success is-rounded m-2">Dry Food</button>
            <button class="button is-info is-rounded m-2">Both</button>
            <button class="button buttontimestamp is-success is-rounded is-danger m-2">Confirm Feeding</button>
            <div class="block"></div>
            <div class="control">
                <textarea class="textarea" placeholder="Type of food/Time fed" disabled></textarea>
            </div>
        </section>
    </div>

    <div class="block"></div>
    <button class="button is-horizontal-center is-danger is-outlined m-6">
        <span><strong>CLEAR FORM / RESET</strong></span>
        <span class="icon is-small">
            <i class="fas fa-times"></i>
        </span>
    </button>