@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.is-horizontal-center {
    justify-content: center;
    margin: auto;
  }

  h2 {
    justify-content: center;
    text-align: center;
  }

.typefood .box {
    flex-direction: column;
    flex: auto;
};

.userbox {
    flex: 1;
}

.typefood {
    flex: 2;
    flex-wrap: wrap;
}

.buttonTimeStamp {
    flex: 3;
    flex: inline;
    align-items: center;
}

body {
    justify-content: center;
    text-align: center;
  }

  .button {
    background-color: #df4900;
    color: white;
  }

  .tablebackground {
    background-color: #00d1b2;
    font-weight: bold;
  }

  .tablebody{
    color: white;
    font-weight: bold;
  }

  .tableheadtext {
    font-size: x-large;

  }

  .tablebodytext {
    font-size:large;

  }

  .tabletextalign {
    text-align: left;
  }